body{
    font-family: 'Quicksand', sans-serif;
    padding-top: 0px;
    background: #004b93;
    height: 100%;
    color: black
}

body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

pre{
    background-color: transparent;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#bank{
    text-decoration: underline;
    color: #c9002b; 
}

.btn-cherry {
    background: #c9002b;
    color: #fff;
}

.btn-cherry:hover, .btn-cherry:focus {
    color: #fff;
}

div#section {
    padding-top: 60px;
    padding-bottom: 100px;
}

div#section > h1 {
    margin-bottom: 50px;
    font-size: 60px;
}

.btn-back {
    background: #fff;
    color: #000;
    border: 2px solid #000;
    font-family: 'Play', sans-serif;
}

.btn-back:hover, .btn-back:focus {
    color: #005cb4;
}

.btn-view {
    background: #fff;
    border: 1px solid #005cb4;
    border-radius: 40px;
    font-weight: bold;
    color: #005cb4;
    box-shadow: inset 0 0 0 0 #005cb4;
    -webkit-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    transition: 0.4s ease-out
}

.btn-view:hover {
    box-shadow: inset 400px 0 0 0 #005cb4;
    color: #fff;
}

button.navbar-toggle > span.icon-bar {
    background-color: #005CB4;
    height: 2px;
}

.bold {
    font-weight: bold;
}

#findcareer {
    padding: 20px 0;
}

.navbar-brand {
    padding: 7px 8px;
}

#map {
    height: 95vh;
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid #008dbb;
}

.navbar{
    margin-bottom: 0;
    border-bottom: 5px solid #005cb4;
    background-color: white;
    padding-top: 2px;
    padding-bottom: 0;
}



#logo {
    height: 78px;
    width: 70px;
}

#pcppi {
    font-weight: bold;
    font-size: 20px;
}

ul#items {
    margin: 0;
    margin-top: 20px;
    font-family: 'Play', sans-serif
}

#items > li {
    padding: 2px 5px;
    font-size: 16px;
}

li.open > ul#dropdown-menu {
    width: 15px;
}

#forms-section {
        margin-top: 50px;
}

div.thumbnail > p {
    padding-top: 5px; 
    font-size: 14px;
}

.thumbnail {
    border: 1px solid #0A62EA;
    border-radius: 20px;
    transition: box-shadow 0.5s;
    padding: 10px;
}

.thumbnail > img {
    border-radius: 20px 20px 0 0;
}

.thumbnail:hover {
    box-shadow: 5px 0px 20px black;
}

footer {
    padding-top: 1em;
    background: #004b93;
    color: #fff;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer.container {
    margin: 0;
    width: 100%;
}

.footerp{
    font-size: 10px;
}

#submit-btn{
    padding-bottom: 10px;
}

.last {
    padding-bottom: 10%;
}

@media(max-width: 991px){
    .w3-display-bottommiddle {
        background-color: #fff;
        border-radius: 50%;
        transition: .5s ease-in-out;
        color: #005CB4;
        z-index: (1);
    }

    .w3-display-bottommiddle:before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: scale(0);
        transition: .5s ease-in-out;
        z-index: -1;
    }

    .w3-display-bottommiddle:hover:before {
        transform: scale(.2);
    }

    .w3-display-bottommiddle:hover {
        color: #fff;
        background-color: #005CB4;
    }
    a#page-scroll:hover:before {
        transform: scale(.2);
    }

    a#page-scroll:hover {
        color: #fff;
    }

    #viewjob{
        text-align: center;
    }
}

@media(max-width: 1000px){
    .logo-bar{
        width: 100px;
    }
}

#next, #section {
    padding: 40px 30px;
}

@media(max-width:767px){  
    .navbar-collapse {
        background-color: #fff;
        padding-left: auto;
        padding-right: auto;
    }

    #search{
        padding-bottom: 10px;
    }

    .navbar-brand .logo{
        width: 10px;
        height: 10px;
    }

    #addwork{
        position: relative;
        left: -180px;
        top: 20px;
    }

    #items>li { 
        display: block;
        text-align: center;
    }

    #items{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    ul#items {
        margin-top: 0;
    }

    #sk{
        padding-top: 10px;
    }

    .col-sm-4 > img {
        margin-top: 28px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    body, h1, h2, h3, h4, p, label {
        font-size: 90%;
    }
}

/* Desktop */ 

@media (min-width: 1129px) {
    .navbar {
        height: 96px;
    }

    #items.nav {
        margin-top: 17px;
    }

    #next, #section {
        font-size: 20px;
    }

    #items>li>a {
        text-decoration: none;
        z-index: 1;
    }

    #items>li>a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: #005cb4;
        visibility: hidden;
        border-radius: 5px;
        transform: scaleX(0);
        transition: .1s linear;
    }

    #items>li>a:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    #items>li>a:hover,
    #items>li>a:focus  { 
        position: relative; 
        font-weight: bold;
        background: #fff;
    }

    #items>li.dropdown:hover > .dropdown-menu,
    #items>li.dropdown:focus > .dropdown-menu  {
        display: block;
        width: 100%;
    }  
}

/* Medium screens */

@media (min-width: 1024px) and (max-width: 1128px) {
    #logo {
        height: 75px;
        width: 68px;
        margin: 0;
    }
    #pcppi {
        font-size: 16px;
    }

    #items>li>a {
        padding: 7px;
        font-size: 14px;
    }

    .navbar {
        height: 94px;
    }

    .navbar-brand {
        padding: 8px 7px;
    }

    #items.nav {
        margin-top: 25px;
    }

    #dropdown-menu>li>a {
        font-size: 11px;
    }

    #next, #section {
        font-size: 16px;
    }

    #findcareer {
        padding: 5vh 0 2vh 0;
    }

    div.thumbnail > h2 {
        margin: 8px 0;
        font-size: 95%;
    }

    div.thumbnail > p {
        padding-top: 10px;
        font-size: 70%;
    }

    div.thumbnail {
        height: 16em;
    }

    #map {
        height: 60vh;
        width: 90vw;
        margin-top: 5vh;
        margin-bottom: 10vh;
    }

    p.footerp {
        font-size: 3px;
    }

    footer > div.row {
        padding-top: 3px;
    }
}


/* Tablets and iPad - vertical */

    @media (min-width: 768px) and (max-width: 1023px) {
    #pcppi {
        font-size: 12px;
        font-weight: bold;
    }

    #logo {
        height: 52px;
        width: 47px;
        margin-right: 0;
    }

    #findcareer {
        padding: 14px 0;
    }

    #items>li>a {
        font-size: 12px;
        padding: 5px;
    }

    .navbar {
        height: 5em;
        padding-bottom: 2px;
    }

    div.thumbnail > h2 {
        margin: 8px 0;
        font-size: 20px;
    }

    div.thumbnail > p {
        padding-top: 10px;
        font-size: 8px;
    }

    div.thumbnail {
        height: 200px;
    }


    .logo-bar {
        padding-top: 5px;
    }

    #dropdown-menu>li>a {
        font-size: 10px;
    }

    #map {
        height: 70vh;
    }
}

/* Mobile - horizontal */

@media (min-width: 480px) and (max-width: 767px) {
    #pcppi {
        font-size: 11px;
        font-weight: bold;
    }

    #logo {
        height: 38px;
        width: 34px;
    }

    .col-sm-4 > img {
        width: 45%;
        display: block;
    }

    div#section {
        padding-top: 30px;
        padding-bottom: 70px;
    }

    div#section > h1 {
        margin-bottom: 26px;
        font-size: 30px;
    }

    div.thumbnail > p {
        padding-top: 12px;
        font-size: 9px;
    }

    div.thumbnail {
        height: 220px;
    }

    #findcareer {
        padding: 6px 0;
        font-size: 20px;
    }

    #map {
        height: 95vh;
        width: 95vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer > div.row {
        padding-top: 3px;
    }
}

/* Mobile - Vertical */

@media (min-width: 321px) and (max-width: 479px) {
    .col-sm-4 > img {
        width: 45%;
        display: block;
        margin: auto;
    }

    #logo {
        height: 38px;
        width: 34px;
        margin: 0;
    }

    #pcppi {
        font-size: 9px;
        font-weight: bold;
    }

    .navbar {
        padding-top: 4px;
    }

    .navbar-brand {
        padding: 4px 8px;
    }

    .navbar-nav li a {
        line-height: 50px;
        height: 50px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #next, #section {
        padding: 30px 50px;
    }

    div#section {
        padding-top: 30px;
        padding-bottom: 70px;
    }

    div#section > h1 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    div.thumbnail {
        margin: 0;
        padding: 5px;
        height: 14em;
    }

    div.thumbnail > p {
        padding-top: 8px;
        font-size: 58%;
    }

    .btn {
        padding: 1px 2px;
    }

    a.btn-back {
        font-size: 10px;
    }

    #next, #section {
        font-size: 70%;
    }

    #findcareer {
        padding: 6px 0;
        font-size: 20px;
    }

    #map {
        height: 95vh;
        width: 90vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    img#logo-footer {
        width: 14px;
        height: 14px;
    }

    footer {
        padding-top: 50px;
        background: #004b93;
        color: #fff;
        font-size: 10px;
    }

    p.footerp{
        font-size: 2px;
        line-height: 4px;
    }
}

/* Smaller than mobile ? */

@media (max-width: 320px) {
    a.btn-back {
        padding: 2px;
        width: 50%;
        font-size: 90%;
    }

    #pcppi {
        font-size: 40%;
        font-weight: bold;
    }

    #logo {
        height: 38px;
        width: 34px;
    }

    div#section {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    div#section > h1 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    div.thumbnail > p {
        padding-top: 9px;
        font-size: 41%;
    }

    div.thumbnail {
        margin: 0;
        padding: 4px;
        height: 9em;
    }

    #map {
        height: 95vh;
        width: 90vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer {
        padding-top: 50px;
        background: #004b93;
        color: #fff;
    }

    p.footerp{
        font-size: 2.2px;
        line-height: 2.2px;
    }
}

.navbar-nav{
    margin-top: 2%;
    text-align: center;
    float: right;
}

.navbar-nav > li{
    font-size: 15px;
}

.logo-bar{
    margin-left: 0;
    width: 100%;
}

#logo-footer{
    width: 3em;
    height: 3em;
}

.glyphicon.glyphicon-check {
    color: green;
    font-size: 100px;   
    text-align: center;
    display:block;
}

#title{
    text-align: center;
}  

#padtop{
    padding-top: 30px;
}   

#padbot{
    padding-bottom: 30px;
}

#sxspad{
    padding-bottom: 30px;
}

#btnpad{
    padding-top: 20px;
    padding-bottom: 60px;
}

#titlepad{
    padding-top: 60px;
    text-align: center;
}    

#external-sites{
    position: relative;
    top: 40px;
    right: 250px;
}     

#links{
    position: relative;
    left: 40px;
}

.img-responsive {
    padding: auto;
    display: block;
}

.bg-grey {
    background-color: #f6f6f6;
    width: 100vw;
    margin: 0;
}

.slideanim { 
    visibility: hidden; 
}

.slide {
    animation-name: slide;
    -webkit-animation-name:slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width:  768px) {
    .col-sm-4 {
        text-align: center;
        margin: 2-5px 0;
    }
}